# Pandas Exercise 1

In [1]:
import pandas as pd

In [2]:
names = ["Erika Schumacher", "Javi López", "Maria Rovira", "Ana Garamond", 
         "Shekhar Biswas", "Muriel Adams", "Saira Polom", "Alex Edwin", 
         "Kit Ching", "Dog Woof"]
ages = [22, 50, 23, 29, 44, 30, 25, 71, 35, 2]
nations = ["DE", "ES", "ES", "ES", "IN", "DE", "IN", "UK", "UK", "XX"]
sibilings = [2, 0, 4, 1, 1, 2, 3, 7, 0, 9]
colors = ["Red", "Yellow", "Yellow", "Blue", "Red", "Yellow", "Blue", "Blue", "Red", "Gray"]



people = pd.DataFrame({"name":names,
                       "age":ages,
                       "country":nations,
                       "sibilings":sibilings,
                       "favourite_color":colors
                      })

people.head()

               name  age country  sibilings favourite_color
0  Erika Schumacher   22      DE          2             Red
1        Javi López   50      ES          0          Yellow
2      Maria Rovira   23      ES          4          Yellow
3      Ana Garamond   29      ES          1            Blue
4    Shekhar Biswas   44      IN          1             Red

# E1: Filter the people and keep only the people from the UK

# E2: Filter the people and keep only people from either UK or Germany

# E3: Filter the people and keep only people from either UK or Germany, who have 2 or more siblings

# E4: select all people whose names contain( either in first name or surname) the letter p

# E5: select all people whose firstname and surname has more than 12 charachters