# Project 2  (Order Project)

- [ ] Explore the orders.csv
- [ ] Clean The orders.csv

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./datasets/orders.csv")
df.head()

   order_id         created_date  total_paid      state
0    241319  2017-01-02 13:35:40       44.99  Cancelled
1    241423  2017-11-06 13:10:02      136.15  Completed
2    242832  2017-12-31 17:40:03       15.76  Completed
3    243330  2017-02-16 10:59:38       84.98  Completed
4    243784  2017-11-24 13:35:19      157.86  Cancelled

# Exploring Phase

# Cleaning/Preprocessing Phase

## E1: What is the latest order?

## E2: What is the order number ofd the first order sold in june 2017

## E3: How many orders, regardless of state, were processed between 15th April 2017 and 6th May 2017

## E4: Create and extra column showing the quarter in which each order was sold